.editor-tab-container {
	width: calc(min(100%, 1200px));
	height: max-content;
	border: 1px solid red;
}

.editor-tab-container .tab-list {
	display: flex;
	justify-content: space-evenly;
}

.editor-tab-container .tab-list div {
	flex-grow: 1;
	width: 100%;
}
