.editor-tab-container {
	width: calc(min(100%, 1200px));
	height: max-content;
	box-shadow: -2px 4px 9px 3px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
}

.editor-tab-container .tab-list {
	display: flex;
	justify-content: space-evenly;
}
