@import './variables.css';

.education-tab form {
	margin-bottom: 36px;

	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	grid-template-areas:
		'name name location location'
		'qualification qualification field-of-study field-of-study'
		'date-start date-end currently add-btn';
}

@media screen and (max-width: 800px) {
	.education-tab form {
		grid-template-columns: 1fr;
		grid-template-areas:
			'name'
			'location'
			'qualification' 'field-of-study' 'date-start' 'date-end' 'currently' 'add-btn';
	}
}

#school-name {
	grid-area: name;
}

#school-location {
	grid-area: location;
}

#school-qualification {
	grid-area: qualification;
}

#school-field-of-study {
	grid-area: field-of-study;
}

#school-start-date {
	grid-area: date-start;
}

#school-end-date {
	grid-area: date-end;
}

#school-currently {
	grid-area: currently;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

#add-school-btn {
	grid-area: add-btn;
}
