form.education-form {
	margin-bottom: 36px;

	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-template-areas:
		'name location'
		'qualification field-of-study'
		'date-start date-end'
		'. add-btn';
}

@media screen and (max-width: 800px) {
	form.education-form {
		grid-template-columns: 1fr;
		grid-template-areas:
			'name'
			'location'
			'qualification' 'field-of-study' 'date-start' 'date-end' 'add-btn';
	}
}

form.education-form button {
	grid-area: add-btn;
	justify-self: center;
}

#school-name {
	grid-area: name;
}

#school-location {
	grid-area: location;
}

#school-qualification {
	grid-area: qualification;
}

#school-field-of-study {
	grid-area: field-of-study;
}

#school-start-date {
	grid-area: date-start;
}

#school-end-date {
	grid-area: date-end;
}
