@import './TabContent.css';

.personal-tab {
	display: grid;
	grid-template-columns: max-content 1fr;
	gap: 32px;
}

@media screen and (max-width: 800px) {
	.personal-tab {
		justify-items: center;
		grid-template-columns: 1fr;
	}
}
