@import './variables.css';

.photo-input {
	width: 250px;
	height: 320px;
	border: 1px solid chartreuse;
	background-color: azure;
}

.photo-preview {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
