.photo-input {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
}

.photo-preview {
	width: 250px;
	height: 320px;
	object-fit: cover;
	border-radius: 4px;
	overflow: hidden;
}
