@import './variables.css';

@media print, screen {
	.preview {
		box-sizing: border-box;
		width: 210mm; /*var(--preview-width);*/
		height: 297mm; /*calc((var(--preview-width)) * var(--ratio));*/
		border: 1px solid green;
		display: flex;
		flex-direction: column;

		align-items: center;
	}
}
