@import './TabContent.css';

.skills-tab {
	display: grid;
	grid-template-columns: 2fr 3fr;
	gap: 32px;
}

.skills-tab .skill-list {
	width: calc(100% - 48px);
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 0 24px;
}

@media screen and (max-width: 800px) {
	.skills-tab {
		justify-items: center;
		grid-template-columns: 1fr;
	}
}
