form.work-form {
	grid-template-columns: repeat(4, minmax(0, 1fr));
	grid-template-areas:
		'title title employer employer'
		'location location start-date end-date'
		'description description . .'
		'. . add-btn add-btn';
}

form.work-form button {
	grid-area: add-btn;
	justify-self: center;
}

#work-description-input {
	width: 100%;
	padding: 1rem;
	height: 4rem;
	max-width: 200%;
}

#work-title {
	grid-area: title;
}

#work-employer {
	grid-area: employer;
}

#work-location {
	grid-area: location;
}

#work-start-date {
	grid-area: start-date;
}

#work-end-date {
	grid-area: end-date;
}

#work-description {
	grid-area: description;
}
