@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@600&display=swap');

@media print, screen {
	.preview {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		width: 210mm;
		height: 297mm;

		display: grid;
		grid-template-columns: 70mm 140mm;
	}
}
